html
  head
    title Bench TV Dashboard

    link(rel="stylesheet", type="text/css", href="styles/main.css")
body
  .cards
    .card
      .inner
        svg.chart
    .card
      .inner
        svg.chart

  script(type="application/javascript", src="js/d3.min.js")
  script(type="application/javascript", src="app.js")