// Colours
$charcoal:    #353939;
$darkgrey:    #545454;
$mediumgrey:  #9E9E9E;
$coolgrey:    #C6C6C6;
$lightgrey:   #F4F4F4;

$sand:        #EFEDE8;
$water:       #419089;
$gold:        #D2A764;
$orange:      #EF6D44;