.cards {
  .card {
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
    width: 50%;
    display: inline-block;
    margin-right: -0.25em;

    &:first-child {
      padding-left: 20px;
    }
  }

  .chart .line {
    fill: none;
    stroke: $orange;
    stroke-width: 2px;

    &.id_1 {
      stroke: $water;
    }
  }

  .chart .area {
    fill: rgba(lighten($orange, 10%), 0.3);

    &.id_1 {
      fill: rgba(lighten($water, 40%), 0.6);
    }
  }

  .chart .axis text {
    font-size: 14px;
    fill: rgba($charcoal, 0.75);
  }

  .chart .axis path {
    /*fill: none;
    stroke: #AAA;
    shape-rendering: crispEdges;*/
    display: none;
  }

  .chart .grid text {
    display: none;
  }

  .chart .grid line {
    fill: none;
    stroke: rgba($charcoal, 0.1);
    shape-rendering: crispEdges;
  }

  .chart .points .point {
    fill: $sand;
    stroke: $orange;
    stroke-width: 2px;
  }

  .chart .points.id_1 .point {
    stroke: $water;
  }
}